@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:ital,wght@0,200;0,300;1,200&display=swap');

*{
    margin: 0 auto;
    padding: 0 auto;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
 }
   
 body{
    margin: 0;
    background-color: #ECECEC;
     }

header{
    background-color: #8F8E8E;
    width: 100%;
    height: 80px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

}
.cabecalho-itens{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    gap: 50px;
    align-items: center;
}

.icone-1{
    height: 35px;
    color: #ECECEC;
    padding-right: 200px;
    cursor: pointer;
    margin-left: 10px;
}

.botao-1{
    font-size: 12px;
    color: #535353;
    background-color: #ECECEC;
    border: none;
    width: 15%;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    margin-right: -600px;

}

.icone-2{
    height: 35px;
    color: #ECECEC;
    cursor: pointer;
    padding-left: 300px;
    margin-right: 20px;
}

main{
    background-color: #ECECEC;
    margin: 0 auto;
    padding: 0 auto;
}

.titulo-1{
    color:#9D9D9D;
    font-weight: bold;
    margin-left: 300px;
    padding-top: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

.subtitulo{
    color:#9D9D9D;
    margin-left: 300px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px; 
}

.paragrafo-1{
    color:#9D9D9D;
    margin-left: 300px;
    margin-top: 20px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
}

.imagem-1{
 margin-left: 1000px ;
 margin-top: -540px;
 height: 700px;
 width: 500px;
}

.botao-2{
    color: white;
    background-color: #535353;
    width: 144px;
    border-radius: 10px;
    border: none;
    height: 44px;
    font-size: 12px;
    cursor: pointer;
}